.container
  .player(id="zype_#{@zype_id}")
    -if @sub_req && @sign_in_required
      %script(src="https://player.zype.com/embed/#{@zype_id}.js?&access_token=#{@access_token}")
      .firewall-overlay
        .firewall-controls
          %h2 We are sorry but you must log in to view this video
          %a.btn(href='/login')
            log in
          %a.btn
            subscribe
    -elsif @sub_req
      %script(src="https://player.zype.com/embed/#{@zype_id}.js?&autoplay=true&access_token=#{@access_token}")
    -else
      %script(src="https://player.zype.com/embed/#{@zype_id}.js?autoplay=true&app_key=#{ENV['ZYPE_API_KEY']}")

