!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ZypeApp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = toastr_flash
    %nav.clearfix
      .home
        %a.btn(href='/')
          %img(src='http://dev.zype.com/assets/logo.png')
      .login
        - if current_user.blank?
          %a.btn(href='/login')
            Login
        - else
          %a.btn(href='/logout')
            Logout: #{current_user}
    = yield
